*{
  font-family: "Roboto", "Sans-Serif";
  font-size: 1.5rem;
}

.container{
  padding: 1rem;
}

ol.pokemons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemons li{
  padding: 0;
  margin: 0;
  background-color: green;
  padding: .5rem;
  margin: .5rem;
  border-radius: 20px;
  height: 10rem;
  text-align: center;
}