<div class="menu-bar1__container">
  <div class="">
    <ul class="menu-bar1__menu">
      <li>
        <a href="">
          <img 
            class="psLogo"
            src="assets/PlayStation Logo Vector.png" 
            alt=""
          >
        </a>
      </li>
      <li><a href="">Jogos</a></li>
      <li><a href="">Hardware</a></li>
      <li><a href="">Serviços</a></li>
      <li><a href="">Notícias</a></li>
      <li><a href="">Loja</a></li>
      <li><a href="">Suporte</a></li>
    </ul>
  </div>

  <div class="menu-bar__logon_search">
    <button>Iniciar Sessão</button>
    <div>
      <input type="text">
      <img src="" alt="">
    </div>
  </div>
</div>

