

.menu-bar2-list__container{
  width: 100%;
  display: flex;
  margin-top: 20px;
  display: flex;
}

.menu-bar2-list__container> ul{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 80px;
  display:flex;
  width: 500px;
  justify-content: space-between;
}
  