<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-title></app-title>
<div class="container__articles">
  <div class="main-article">
    <app-big-card 
    bigCardImage="https://media.licdn.com/dms/image/C4D12AQGfnxPnP5xDxA/article-cover_image-shrink_600_2000/0/1646044865383?e=2147483647&v=beta&t=XFYzfVGpJNZ5iVTMwuuh8MYaqy6-D7PfT9bFUpCdA1Y"
    bigCardTitle="Saiu a nova versão do Angular 14"
    bigCardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    >
    </app-big-card>
  </div>

  <div class="other-articles">
    <app-small-card 
      smallCardImage="https://media.licdn.com/dms/image/C4D12AQGfnxPnP5xDxA/article-cover_image-shrink_600_2000/0/1646044865383?e=2147483647&v=beta&t=XFYzfVGpJNZ5iVTMwuuh8MYaqy6-D7PfT9bFUpCdA1Y"
      smallCardTitle="SAIU A NOVA VERSÃO DO ANGULAR 14"
    ></app-small-card>
    <app-small-card 
      smallCardImage="https://cdn.marvel.com/u/prod/marvel/images/OpenGraph-TW-1200x630.jpg"
      smallCardTitle="NOVO FILME DA MARVEL JÁ ESTÁ NOS CIMEMAS" 
    >
    </app-small-card>
    <app-small-card 
      smallCardImage="https://media.istockphoto.com/id/981600810/photo/exiting-the-void.jpg?s=612x612&w=0&k=20&c=OFduMv4GTQQKqa-BdsFw3Om4HCnx5obaNnofTVMwNX8="
      smallCardTitle="REALIDADE VIRTUAL É O PROXIMO PONTO DO AVANÇO TECNOLOGICO"
    ></app-small-card>
  </div>
</div>