.container__articles{
  margin: 30px;
  display: flex;
  flex-direction: row;
  margin-right: 250px;
  margin-left: 250px;
  justify-content: space-around;
}


.other-articles{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: max-content;
  height: min-content;
}

app-small-card{
  margin-bottom: 25px;
}