.container-title{
  color: white;
  
}

.container-title > h1{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 135px;
  align-items: center;
}

.container-title > hr{
  margin: 10px;
  
}