<div class="quiz__container">
  <div class="quiz_logo">
    <img src="assets/images/logo.png" alt="" srcset="">
    <h3>{{ title }}</h3>
  </div>

  <section *ngIf="!finished" class="quiz_questions">
    <h3>{{questionSelected.question}}</h3>
  </section>

  <div *ngIf="!finished" class="quiz_options">
    <button 
    *ngFor="let option of questionSelected.options"
    (click)="playerChoice(option.alias)"
    class="btn-option">
      {{option.name}}
    </button>
  </div>

  <div *ngIf="finished" class="quiz_results">
    <h1>Sua resposta é:</h1>
    <p class="result">{{ result }}</p>
  </div>

  <div class="quiz_remake">
    <button (click)="remakeQuiz()" class="quiz_undo_button">
      Refazer teste
    </button>
  </div>
</div>
