body{
    font-family: Arial, Helvetica, sans-serif;
}

.divmain{
    display: flex;
    justify-content: center;
    margin:auto;
    
}


.divcelular{
    width: 300px;
    display: flex;
}

.imagemcelular{
    width: 720px;
    margin-top: 0;    
}

.item{
    justify-content: center;
}


/* FOMULÁRIO */
.formulario{
    padding-top: 78px;
    width: 400px;
    text-align: center;
}

.form-entrada{
    border: solid rgb(214, 209, 209) 1px;
    width: 330px;
    height: 350px;
    margin: auto;
    padding-top: 50px;
}

.entradaemail{
    margin-top: 40px;
}

.entrada{
    width: 260px;
    height: 35px;
    box-sizing: border-box;
    border: solid rgb(214, 209, 209) 1px;
    border-radius: 3px;
    padding: 8px;
}

.password{
    margin-top: 8px;
}

.btnEntrar{
    width: 260px;
    height: 28px;
    color: white;
    background-color: dodgerblue;
    border-style: none;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 8px;
    font-weight: bold;
}

.loginfacebook{
    justify-content: center;
    position: relative;
    flex-wrap: wrap ;
}

.fa-brands{
    font-size: 30px;
    color: rgb(14, 69, 124);
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.linkloginfacebook{
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 9px;
    font-weight: bold;
    color: rgb(14, 69, 124);
}

.linkloginfacebook:visited{
    color: rgb(14, 69, 124);
}

.linkesqueceusenha{
    margin-top: 40px;
    font-size: 12px;
}

.linkesqueceusenha a{
    text-decoration: none;
}

.cadastro{
    width: 330px;
    border: solid rgb(214, 209, 209) 1px;
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}

.linkcadastro{
    color: dodgerblue;
    font-weight: bold;
    text-decoration: none;
}

.logoinstagram{
    width: 160px;
}

.imgdownload{
    width: 150px;

}


.downloadApp{
    padding: 10px;
    font-size: 14px;
}


/* RODAPÉ */

.rodape{
    font-size: 15px;
    text-align: center;
}