.container__small-cards{
  display: flex;
  flex-direction: row;
  width: 600px;
  background-color: rgb(43, 43, 43);
  
}

.small-card__photo{
  background-color: rgb(43, 43, 43);
  display: flex;

}

.small-card__photo > img{
  width: 250px;
  min-width: 250px;
  background-color: rgb(43, 43, 43);

}

.small-card__title{
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(43, 43, 43);

}

.small-card__title > h3{
  background-color: rgb(43, 43, 43);

}

.small-card__title > h3 > a{
  background-color: rgb(43, 43, 43);

}